altair==4.2.0
bokeh==3.0.2
docx2txt==0.8
Faker==15.3.3
h2o==3.38.0.3
h2o_wave==0.24.1
h2o_wave_ml==0.8.1
httpx==0.23.1
loguru==0.6.0
matplotlib==3.6.2
nltk==3.7
numpy==1.23.5
pandas==1.5.2
plotly==5.11.0
Pygments==2.13.0
scikit_learn==1.1.3
vega_datasets==0.9.0
